html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  display: block;
  max-width: 100%; }

header {
  height: 200vh;
  background-color: #80A4ED; }

.digitalDesigner {
  height: 350vh;
  background-color: #DF54FF;
  position: relative; }
  .digitalDesigner .designerVideo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .digitalDesigner .designerVideo video {
      opacity: 0.5;
      -webkit-box-shadow: 10px 10px 20px black;
      box-shadow: 10px 10px 20px black;
      margin-top: 10%;
      -webkit-transform: scale(1.27);
      -ms-transform: scale(1.27);
      transform: scale(1.27); }

.ddtitle {
  position: absolute;
  width: 30%;
  bottom: 80%;
  left: 10%;
  z-index: 3;
  opacity: 0.9; }

.ddtriangle1 {
  position: absolute;
  width: 25%;
  bottom: 10%;
  left: 12%;
  z-index: 2; }

.ddtriangle2 {
  position: absolute;
  width: 20%;
  bottom: 40%;
  left: 75%;
  z-index: 0; }

.ddtriangle3 {
  position: absolute;
  bottom: 23%;
  left: 53%;
  z-index: 2; }

.ddtriangle4 {
  position: absolute;
  width: 18%;
  bottom: 33%;
  left: 23%;
  z-index: 3; }

.dd1 {
  position: absolute;
  left: 20%;
  z-index: 1; }

.dd2 {
  position: absolute;
  bottom: 50%;
  left: 54%;
  z-index: 1;
  opacity: 0.9; }

.dd3 {
  position: absolute;
  bottom: 28%;
  left: 39%;
  z-index: 1;
  opacity: 0.9; }

.dd4 {
  position: absolute;
  bottom: 26%;
  left: 63%;
  z-index: 1;
  opacity: 0.9; }

.dd5 {
  position: absolute;
  bottom: 28%;
  left: 10%;
  z-index: 1;
  opacity: 0.9; }

.dd6 {
  position: absolute;
  bottom: 5%;
  left: 25%;
  z-index: 1;
  opacity: 0.9; }

.dd7 {
  position: absolute;
  bottom: 10%;
  left: 60%;
  z-index: 2;
  opacity: 0.9; }

.avidCoder {
  height: 250vh;
  background-color: #66FFB2;
  position: relative; }

.actitle {
  position: absolute;
  width: 30%;
  bottom: 88%;
  left: 66%;
  z-index: 3;
  opacity: 0.9; }

.actriangle1 {
  position: absolute;
  width: 25%;
  bottom: 50%;
  left: 55%;
  z-index: 2; }

.actriangle2 {
  position: absolute;
  width: 20%;
  bottom: 65%;
  left: 1%;
  z-index: 0; }

.actriangle3 {
  position: absolute;
  bottom: 13%;
  left: 30%;
  z-index: 2; }

.actriangle4 {
  position: absolute;
  width: 18%;
  bottom: 43%;
  left: 23%;
  z-index: 3; }

.ac1 {
  position: absolute;
  bottom: 70%;
  left: 15%;
  z-index: 1;
  opacity: 0.9; }

.ac2 {
  position: absolute;
  bottom: 70%;
  left: 45%;
  z-index: 1;
  opacity: 0.9; }

.ac3 {
  position: absolute;
  bottom: 37%;
  left: 30%;
  z-index: 1;
  opacity: 0.9; }

.ac4 {
  position: absolute;
  bottom: 55%;
  left: 70%;
  z-index: 1;
  opacity: 0.9; }

.ac5 {
  position: absolute;
  bottom: 20%;
  left: 54%;
  z-index: 1;
  opacity: 0.9; }

.ac6 {
  position: absolute;
  bottom: 13%;
  left: 5%;
  z-index: 1;
  opacity: 0.9; }

.ac7 {
  position: absolute;
  width: 20%;
  bottom: 45%;
  left: 79%;
  z-index: 1;
  opacity: 0.9; }

.spiritualAF {
  height: 350vh;
  background-color: #9572FF;
  position: relative; }
  .spiritualAF .spiritualAFVideo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .spiritualAF .spiritualAFVideo video {
      opacity: 0.45;
      -webkit-box-shadow: 10px 10px 20px black;
      box-shadow: 10px 10px 20px black;
      margin-top: 10%;
      -webkit-transform: scale(1.27);
      -ms-transform: scale(1.27);
      transform: scale(1.27); }

.saftitle {
  position: absolute;
  width: 30%;
  bottom: 72%;
  left: 10%;
  z-index: 3; }

.saftriangle1 {
  position: absolute;
  width: 25%;
  bottom: 30%;
  left: 45%;
  z-index: 2; }

.saftriangle2 {
  position: absolute;
  width: 20%;
  bottom: 30%;
  left: 80%;
  z-index: 0; }

.saftriangle3 {
  position: absolute;
  bottom: 20%;
  left: 1%;
  z-index: 2; }

.saftriangle4 {
  position: absolute;
  width: 18%;
  bottom: 43%;
  left: 40%;
  z-index: 3; }

.saf1 {
  position: absolute;
  bottom: 48%;
  left: 15%;
  z-index: 1;
  opacity: 0.9; }

.saf2 {
  position: absolute;
  bottom: 42%;
  left: 46%;
  z-index: 1;
  opacity: 0.9; }

.saf3 {
  position: absolute;
  bottom: 45%;
  left: 69%;
  z-index: 1;
  opacity: 0.9; }

.saf4 {
  position: absolute;
  bottom: 25%;
  left: 6%;
  z-index: 1;
  opacity: 0.9; }

.saf5 {
  position: absolute;
  bottom: 20%;
  left: 54%;
  z-index: 1;
  opacity: 0.9; }

.saf6 {
  position: absolute;
  bottom: 8%;
  left: 5%;
  z-index: 1;
  opacity: 0.9; }

.saf7 {
  position: absolute;
  width: 20%;
  bottom: 10%;
  left: 42%;
  z-index: 3;
  opacity: 0.9; }

.saf8 {
  position: absolute;
  bottom: 6%;
  left: 30%;
  z-index: 1;
  opacity: 0.9; }

.wannabeModel {
  height: 350vh;
  background-color: #FF79D5;
  position: relative; }
  .wannabeModel .wannabeModelVideo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .wannabeModel .wannabeModelVideo video {
      opacity: 0.5;
      -webkit-box-shadow: 10px 10px 20px black;
      box-shadow: 10px 10px 20px black;
      margin-top: 10%;
      -webkit-transform: scale(1.27);
      -ms-transform: scale(1.27);
      transform: scale(1.27); }

.wmtitle {
  position: absolute;
  width: 30%;
  bottom: 72%;
  left: 10%;
  z-index: 3; }

.wmtriangle1 {
  position: absolute;
  width: 25%;
  bottom: 30%;
  left: 35%;
  z-index: 2; }

.wmtriangle2 {
  position: absolute;
  width: 20%;
  bottom: 30%;
  left: 80%;
  z-index: 0; }

.wmtriangle3 {
  position: absolute;
  bottom: 20%;
  left: 1%;
  z-index: 2; }

.wmtriangle4 {
  position: absolute;
  width: 18%;
  bottom: 43%;
  left: 40%;
  z-index: 3; }

.wm1 {
  position: absolute;
  bottom: 48%;
  left: 15%;
  z-index: 1;
  opacity: 0.9; }

.wm2 {
  position: absolute;
  bottom: 48%;
  left: 46%;
  z-index: 1;
  opacity: 0.9; }

.wm3 {
  position: absolute;
  bottom: 45%;
  left: 69%;
  z-index: 1;
  opacity: 0.9; }

.wm4 {
  position: absolute;
  bottom: 25%;
  left: 45%;
  z-index: 1;
  opacity: 0.9; }

.wm5 {
  position: absolute;
  bottom: 20%;
  left: 10%;
  z-index: 1;
  opacity: 0.9; }

.wm6 {
  position: absolute;
  bottom: 8%;
  left: 60%;
  z-index: 1;
  opacity: 0.9; }

.wm7 {
  position: absolute;
  width: 20%;
  bottom: 10%;
  left: 42%;
  z-index: 3;
  opacity: 0.9; }

.soloTraveller {
  height: 350vh;
  background-color: #5BD0FF;
  position: relative; }
  .soloTraveller .soloTravellerVideo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .soloTraveller .soloTravellerVideo video {
      opacity: 0.5;
      -webkit-box-shadow: 10px 10px 20px black;
      box-shadow: 10px 10px 20px black;
      margin-top: 10%;
      -webkit-transform: scale(1.27);
      -ms-transform: scale(1.27);
      transform: scale(1.27); }

.sttitle {
  position: absolute;
  width: 30%;
  bottom: 62%;
  left: 68%;
  z-index: 3; }

.sttriangle1 {
  position: absolute;
  width: 25%;
  bottom: 30%;
  left: 35%;
  z-index: 2; }

.sttriangle2 {
  position: absolute;
  width: 20%;
  bottom: 30%;
  left: 80%;
  z-index: 0; }

.sttriangle3 {
  position: absolute;
  bottom: 20%;
  left: 1%;
  z-index: 2; }

.sttriangle4 {
  position: absolute;
  width: 18%;
  bottom: 23%;
  left: 50%;
  z-index: 3; }

.st1 {
  position: absolute;
  bottom: 48%;
  left: 15%;
  z-index: 1;
  opacity: 0.9; }

.st2 {
  position: absolute;
  bottom: 53%;
  left: 46%;
  z-index: 1;
  opacity: 0.9; }

.st3 {
  position: absolute;
  bottom: 49%;
  left: 69%;
  z-index: 1;
  opacity: 0.9; }

.st4 {
  position: absolute;
  bottom: 35%;
  left: 50%;
  z-index: 1;
  opacity: 0.9; }

.st5 {
  position: absolute;
  bottom: 30%;
  left: 10%;
  z-index: 1;
  opacity: 0.9; }

.st6 {
  position: absolute;
  bottom: 8%;
  left: 5%;
  z-index: 1;
  opacity: 0.9; }

.st7 {
  position: absolute;
  width: 20%;
  bottom: 10%;
  left: 42%;
  z-index: 3;
  opacity: 0.9; }

.st8 {
  position: absolute;
  bottom: 20%;
  left: 32%;
  z-index: 1;
  opacity: 0.9; }

.st9 {
  position: absolute;
  bottom: 10%;
  left: 62%;
  z-index: 1;
  opacity: 0.9; }

.healthFitness {
  height: 350vh;
  background-color: #FF729C;
  position: relative; }
  .healthFitness .healthFitnessVideo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .healthFitness .healthFitnessVideo video {
      opacity: 0.5;
      -webkit-box-shadow: 10px 10px 20px black;
      box-shadow: 10px 10px 20px black;
      margin-top: 10%;
      -webkit-transform: scale(1.27);
      -ms-transform: scale(1.27);
      transform: scale(1.27); }

.hftitle {
  position: absolute;
  width: 30%;
  bottom: 72%;
  left: 60%;
  z-index: 3; }

.hftriangle1 {
  position: absolute;
  width: 25%;
  bottom: 30%;
  left: 35%;
  z-index: 2; }

.hftriangle2 {
  position: absolute;
  width: 20%;
  bottom: 30%;
  left: 80%;
  z-index: 0; }

.hftriangle3 {
  position: absolute;
  bottom: 20%;
  left: 1%;
  z-index: 2; }

.hftriangle4 {
  position: absolute;
  width: 18%;
  bottom: 23%;
  left: 55%;
  z-index: 3; }

.hf1 {
  position: absolute;
  bottom: 45%;
  left: 5%;
  z-index: 1;
  opacity: 0.9; }

.hf2 {
  position: absolute;
  bottom: 53%;
  left: 20%;
  z-index: 1;
  opacity: 0.9; }

.hf3 {
  position: absolute;
  bottom: 40%;
  left: 47%;
  z-index: 1;
  opacity: 0.9; }

.hf4 {
  position: absolute;
  bottom: 50%;
  left: 75%;
  z-index: 1;
  opacity: 0.9; }

.hf5 {
  position: absolute;
  bottom: 25%;
  left: 15%;
  z-index: 1;
  opacity: 0.9; }

.hf6 {
  position: absolute;
  bottom: 5%;
  left: 5%;
  z-index: 1;
  opacity: 0.9; }

.hf7 {
  position: absolute;
  width: 20%;
  bottom: 15%;
  left: 35%;
  z-index: 3;
  opacity: 0.9; }

.hf8 {
  position: absolute;
  bottom: 3%;
  left: 30%;
  z-index: 1;
  opacity: 0.9; }

.hf9 {
  position: absolute;
  bottom: 10%;
  left: 65%;
  z-index: 1;
  opacity: 0.9; }

.amateurPhotographer {
  height: 350vh;
  background-color: #80A4ED;
  position: relative; }
  .amateurPhotographer .photographerVideo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .amateurPhotographer .photographerVideo video {
      opacity: 0.5;
      -webkit-box-shadow: 10px 10px 20px black;
      box-shadow: 10px 10px 20px black;
      margin-top: 10%;
      -webkit-transform: scale(1.27);
      -ms-transform: scale(1.27);
      transform: scale(1.27); }

.aptitle {
  position: absolute;
  width: 30%;
  bottom: 80%;
  left: 10%;
  z-index: 3; }

.aptriangle1 {
  position: absolute;
  width: 25%;
  bottom: 30%;
  left: 35%;
  z-index: 2; }

.aptriangle2 {
  position: absolute;
  width: 20%;
  bottom: 30%;
  left: 80%;
  z-index: 0; }

.aptriangle3 {
  position: absolute;
  bottom: 20%;
  left: 1%;
  z-index: 2; }

.aptriangle4 {
  position: absolute;
  width: 18%;
  bottom: 23%;
  left: 55%;
  z-index: 3; }

.ap1 {
  position: absolute;
  bottom: 45%;
  left: 5%;
  z-index: 1;
  opacity: 0.9; }

.ap2 {
  position: absolute;
  bottom: 53%;
  left: 30%;
  z-index: 1;
  opacity: 0.9; }

.ap3 {
  position: absolute;
  bottom: 45%;
  left: 70%;
  z-index: 2;
  opacity: 0.9; }

.ap4 {
  position: absolute;
  bottom: 55%;
  left: 55%;
  z-index: 1;
  opacity: 0.9; }

.ap5 {
  position: absolute;
  bottom: 25%;
  left: 45%;
  z-index: 1;
  opacity: 0.9; }

.ap6 {
  position: absolute;
  bottom: 5%;
  left: 5%;
  z-index: 1;
  opacity: 0.9; }

.ap7 {
  position: absolute;
  bottom: 15%;
  left: 35%;
  z-index: 3;
  opacity: 0.9; }

.ap8 {
  position: absolute;
  bottom: 23%;
  left: 10%;
  z-index: 1;
  opacity: 0.9; }

.ap9 {
  position: absolute;
  bottom: 10%;
  left: 65%;
  z-index: 1;
  opacity: 0.9; }

.ap10 {
  position: absolute;
  bottom: 58%;
  left: 18%;
  z-index: 1;
  opacity: 0.9; }

.ap11 {
  position: absolute;
  bottom: 20%;
  left: 77%;
  z-index: 1;
  opacity: 0.9; }

.ap12 {
  position: absolute;
  bottom: 30%;
  left: 20%;
  z-index: 1;
  opacity: 0.9; }

.ap13 {
  position: absolute;
  bottom: 3%;
  left: 55%;
  z-index: 1;
  opacity: 0.9; }

.workWithMe {
  height: 100vh;
  background-image: url(../assets/workWithMe.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .workWithMe h2 {
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    text-align: left;
    padding-left: 10px; }
  .workWithMe img {
    height: 50%; }
  .workWithMe .iconsTablet {
    display: none; }

.flexIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 0; }

.iconsFull {
  width: 80%; }

.wrapper {
  max-width: 400px;
  margin: 0;
  padding-left: 50px;
  padding-top: 100px; }

form {
  height: 400px; }

input {
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 5px;
  background: none;
  border: white 2px solid;
  margin: 10px;
  width: 300px;
  color: white; }

::-webkit-input-placeholder {
  color: white; }

:-ms-input-placeholder {
  color: white; }

::-ms-input-placeholder {
  color: white; }

::placeholder {
  color: white; }

textarea {
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 5px;
  background: none;
  border: white 2px solid;
  margin: 10px;
  width: 300px;
  color: white; }

button {
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 5px;
  background: none;
  border: white 2px solid;
  margin: 10px;
  width: 300px;
  color: white;
  text-transform: uppercase; }

@media screen and (max-width: 900px) {
  .workWithMe .iconsTablet {
    display: block;
    width: 30%; }
  .workWithMe .iconsFull {
    display: none; }
  .flexIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; } }
