html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  display: block;
  max-width: 100%; }

header {
  height: 200vh;
  background-color: #80A4ED; }

.digitalDesigner {
  height: 200vh;
  background-color: #DF54FF;
  position: relative; }

.triangle1 {
  position: absolute;
  width: 20%;
  bottom: 20%;
  left: 53%; }

.avidCoder {
  height: 200vh;
  background-color: #66FFB2; }

.spiritualAF {
  height: 200vh;
  background-color: #9572FF; }

.wannabeModel {
  height: 200vh;
  background-color: #FF79D5; }

.wmMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.wm1 {
  margin-top: 100px; }

.soloTraveller {
  height: 300vh;
  background-color: #5BD0FF; }

.stMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.st1 {
  margin-top: 100px; }

.videoContainer {
  display: block;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 50px; }

.video, .video2 {
  display: block;
  width: 270px;
  height: 480px;
  opacity: 0.9; }

.healthFitness {
  height: 200vh;
  background-color: #FF729C; }

.amateurPhotographer {
  height: 200vh;
  background-color: #80A4ED; }

.pMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.p1 {
  margin-top: 100px; }

.workWithMe {
  height: 100vh;
  background-image: url(../assets/workWithMe.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .workWithMe h2 {
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    text-align: left;
    padding-left: 10px; }
  .workWithMe img {
    height: 50%; }
  .workWithMe .iconsTablet {
    display: none; }

.flexIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 0; }

.iconsFull {
  width: 80%; }

.wrapper {
  max-width: 400px;
  margin: 0;
  padding-left: 50px;
  padding-top: 100px; }

form {
  height: 400px; }

input {
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 5px;
  background: none;
  border: white 2px solid;
  margin: 10px;
  width: 300px;
  color: white; }

::-webkit-input-placeholder {
  color: white; }

:-ms-input-placeholder {
  color: white; }

::-ms-input-placeholder {
  color: white; }

::placeholder {
  color: white; }

textarea {
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 5px;
  background: none;
  border: white 2px solid;
  margin: 10px;
  width: 300px;
  color: white; }

button {
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 5px;
  background: none;
  border: white 2px solid;
  margin: 10px;
  width: 300px;
  color: white;
  text-transform: uppercase; }

@media screen and (max-width: 900px) {
  .workWithMe .iconsTablet {
    display: block;
    width: 30%; }
  .workWithMe .iconsFull {
    display: none; }
  .flexIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; } }

* {
  border: 1px solid red; }
